<div class="container my-2">
   
    <div class="row" id="posts-container">
      <div class="col">
  
          <div class="leftside" id="leftss" >
            <h1 class="h1 text-center"> Post </h1>
          </div>
      </div>
      <div class="col">
          <div class="rightside" id="rightss">
            <h1 class="h1 text-center"> Comments </h1>
          </div>
      </div>
  </div>
  
  </div>

  <script src="/app/single-post.js"></script>
    
    <script>
      loadSinglePost();
      loadComments();
       </script>